<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nd.blg.nddining">

    <application
        android:allowBackup="false"
        android:icon="@drawable/play_store_artwork"
        android:label="@string/app_name"
        android:roundIcon="@drawable/play_store_artwork"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name="com.nd.blg.nddining.activites.MainActivity">

        </activity>
        <activity android:name="com.nd.blg.nddining.activites.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.nd.blg.nddining.recievers.AlarmReciever">

        </receiver>
        <receiver android:name="com.nd.blg.nddining.recievers.NotificationReciever">

        </receiver>

        <service android:name="com.nd.blg.nddining.services.DownloadService"/>
        <receiver android:name="com.nd.blg.nddining.recievers.RestartAlarmsReciever" android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name="com.nd.blg.nddining.services.BootService"/>

    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

</manifest>